.login-container{
  height: 80vh;
}

.login-title{
  color: #32325D;
}

.login-form{
  text-align: center;
  background-color: #FFF;
  border-radius: 3px;
  padding: 2em;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
}
